/* All pages */

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


/* Index */

#index-main {
    background-color: #f5f5f5;
    border: 2px solid #f1f1f1;
    border-radius: 18px;
    box-shadow: 9px 6px #f1f1f1;
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 3%;
}